<!-- <app-first></app-first> -->
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
<!-- <app-if></app-if> -->
<!-- <app-for></app-for> -->
<!-- <app-movie1></app-movie1> -->
<!-- <app-switch></app-switch> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-built-in-pipes></app-built-in-pipes> -->
<!-- <h3>{{"Sushma" | reverse}}</h3>
<input type="text" [(ngModel)]="Name"/><span class='text-danger'>
{{Name | validate}}</span> -->
<!-- <app-listen></app-listen> -->
<!-- <app-b></app-b> -->
<app-communicator></app-communicator>