<!-- <p>angular-material works!</p> -->
<mat-toolbar color="accent">  
    <span>My Profile</span>  
    <span class="example-fill-remainig-space"></span>
    <button mat-button >SignOut</button>

</mat-toolbar>  
  
<!-- Card container that binds all togather -->  
<mat-card>  
    <!-- Title of an Card -->  
    <mat-card-title> 
        Update My Profile 
    </mat-card-title>  
  
    <!-- Actual content starts from here -->  
    <mat-card-content>  
        <img mat-card-avatar  src="assets\IMG_20181111_191928_340.jpg"> 

        <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">  
            <table>  
                <tr>  
                    <td>  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="FirstName" matInput placeholder="First Name">  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('FirstName').valid && regiForm.get('FirstName').touched">Please enter First Name !!!</span>  
                        </mat-error>  
                    </td>  
                    <td>  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="LastName" matInput placeholder="Last Name">  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('LastName').valid && regiForm.get('LastName').touched">Please enter Last Name !!!</span>  
                        </mat-error>  
                    </td>  
                </tr>  
                <tr>
                        <td colspan="2">
                               <mat-form-field class="demo-full-width">
                                <input matInput placeholder="change your password" [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                              </mat-form-field>
                        </td>
                    </tr>
                <tr>
                        <td colspan="2">  
                                <mat-form-field class="demo-full-width">  
                                    <input formControlName="PhoneNumber" matInput placeholder="Phone Number">  
                                </mat-form-field>  
                                <mat-error>  
                                    <span *ngIf="!regiForm.get('PhoneNumber').valid && regiForm.get('PhoneNumber').touched">Please enter Valid Number !!!</span>  
                                </mat-error>  
                            </td>  
                </tr>
                <tr>
                        <td colspan="2">  
                                <mat-form-field class="demo-full-width">  
                                    <input formControlName="AdharNo" matInput placeholder="Adhar Number">  
                                </mat-form-field>  
                                <mat-error>  
                                    <span *ngIf="!regiForm.get('AdharNo').valid && regiForm.get('AdharNo').touched">Please enter Valid Number !!!</span>  
                                </mat-error>  
                            </td> 
                </tr>
                    
                <tr>  
                    <td colspan="2">  
                        <mat-form-field class="demo-full-width">  
                            <textarea formControlName="Address" matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('Address').valid && regiForm.get('Address').touched">Please enter proper address !!!</span>  
                        </mat-error>  
                    </td>  
                </tr>  
                <tr>  
                    <td colspan="2">  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="DOB" matInput [matDatepicker]="picker" placeholder="Date of birth">  
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('DOB').valid && regiForm.get('DOB').touched">Please select any Date !!!</span>  
                        </mat-error>  
                    </td>  
                </tr>  
                <tr>  
                    <td>  
                        <span>Gender</span><br><br>  
                        <mat-radio-group formControlName="Gender">  
                            <mat-radio-button value="Male">Male</mat-radio-button>  
                            <mat-radio-button value="Female">Female</mat-radio-button>  
                        </mat-radio-group>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('Gender').valid && regiForm.get('Gender').touched">Please select any gender !!!</span>  
                        </mat-error>  
                    </td>  
                    <td><br>  
                        <mat-form-field>  
                            <mat-select formControlName="Account" placeholder="Select Account">  
                                <mat-option>-- Account Type --</mat-option>  
                                <mat-option value="C#Corner">Saving</mat-option>  
                                <mat-option value="C#Corner">Current</mat-option>  
                            </mat-select>  
                            <mat-error>  
                                <span *ngIf="!regiForm.get('Account').valid && regiForm.get('Account').touched">Please select Account !!!</span>  
                            </mat-error>  
                        </mat-form-field>  
                    </td>  
                </tr>  
                <tr>  
                    <td colspan="2">  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="Email" matInput placeholder="Email">  
                            <mat-hint>use like : demo@demo.com</mat-hint>  
                            <mat-error>  
                                <span *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched">Enter proper Email !!!</span>  
                            </mat-error>  
                        </mat-form-field>  
                    </td>  
                </tr>  
                <!-- <tr>  
                    <td colspan="2">  
                        <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Accept Terms & Conditions</mat-slide-toggle>  
                    </td>  
                </tr>   -->
                <tr>  
                    <td colspan="2" class="content-center">  
                        <button mat-raised-button color="accent" [disabled]="!regiForm.valid || IsAccepted==0">Submit</button>  
                    </td>  
                </tr>  
                 
            </table>  
        </form>  
        
<button (click)="onClick()">Test</button>
    </mat-card-content>  

</mat-card>